/*Seat Selection Page */

.seat-page{
    max-width:1100px;
    margin:40px auto;
    padding:20px;
}

/* Bus Details */

.bus-info{
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    margin-bottom:30px;
}

.bus-info h2{
    margin-bottom:8px;
    color:#222;
}

.bus-info p{
    margin:5px 0;
    font-size:17px;
}

/* Seat Layout*/

.seat-layout{
    width:320px;
    margin:0 auto;
    display:grid;
    grid-template-columns:repeat(4,60px);
    gap:20px 16px;
    justify-content:center;
}

/* Seat */

.seat{
    width:55px;
    height:55px;
    border-radius:8px;
    background:#4CAF50;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.seat:hover{
    transform:scale(1.08);
}

/* Selected Seat */

.seat.selected{
    background:#2196F3;
}

/* Booked Seat */

.seat.booked{
    background:#F44336;
    cursor:not-allowed;
}

/* Summary*/

.seat-summary{
    width:320px;
    margin:35px auto 0;
}

.seat-summary h3{
    margin-bottom:10px;
    font-size:22px;
    color:#222;
}

.seat-summary h2{
    color:#0d6efd;
    font-size:30px;
    font-weight:700;
}

/* Buttons */

.seat-buttons{
    width:320px;
    margin:35px auto 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}

.back-btn,
.continue-btn{
    border:none;
    outline:none;
    border-radius:10px;
    padding:14px 22px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}
/* Back */

.back-btn{
    background:#6c757d;
    color:white;
    min-width:120px;
}

.back-btn:hover{
    background:#545b62;
}

/* Continue */

.continue-btn{
    flex:1;
    background:#28a745;
    color:white;
}

.continue-btn:hover{
    background:#218838;
}

.continue-btn:disabled{
    background:#c7c7c7;
    cursor:not-allowed;
}

/* ===== Legend ===== */

.seat-legend{
    width:320px;
    margin:0 auto 30px;
    display:flex;
    justify-content:space-between;
}

.legend-item{
    display:flex;
    align-items:center;
    gap:8px;
}

.legend-item p{
    margin:0;
    font-size:15px;
}

.legend-box{
    width:18px;
    height:18px;
    border-radius:4px;
}

.available{
    background:#4CAF50;
}

.selected-seat{
    background:#2196F3;
}

.booked-seat{
    background:#F44336;
}

/*Responsive */

@media(max-width:768px){

    .seat-layout{
        grid-template-columns:repeat(4,55px);
        gap:15px;
    }

    .seat{
        width:50px;
        height:50px;
        font-size:15px;
    }

    .seat-buttons{
        flex-direction:column;
        gap:15px;
    }

    .back-btn,
    .continue-btn{
        width:100%;
    }
}